@import '../../components/variables.css';

.root .title{
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--graphite);
  font-family: var(--font-family-headers);
}
