@import '../variables.css';

.wrapper{
  flex:1;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}

.wrapper section{
  flex-basis: calc(100% - 5rem);
  flex-shrink: 0;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.devider{
  flex-basis: 2rem;
  flex-shrink: 0;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.left{
  transform: translateX(-100%);
  border-right: 1px solid var(--gray);
}

.right-side{}

.left-side{
  transform: translateX(calc(2rem - 100vw));
}

.right{
  border-left: 1px solid var(--gray);
}

.active{

}

.left.active{
  transform: translateX(0)
}

.right.active{
  transform: translateX(-100%);
}