@import '../variables.css';

.wrapper{
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(--shadow1);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.wrapper button{
  padding: .4rem;
}

.edit{
  margin-left: auto;
  margin-right: 1rem;
}

.wrapper label{
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}

.wrapper input{
  margin-right: .5rem;
  flex-shrink: 0;
}