@import '../variables.css';

.wrapper{
  margin: 1rem;
  padding: 1.4rem;
  box-shadow: var(--shadow1);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.wrapper button{
  padding: .4rem;
}

.edit{
  margin-left: 1rem;
  margin-right: 1rem;
}

.remove{
  margin-left: auto;
}

.add{
  margin-left: 1rem;
}

.expand{
  margin-right: 1rem;
}

.title{
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}

.selected{
  background-color: var(--sharp-blue);
}

.selected button{
  background-color: var(--lime-green);
  color: var(--white);
}

.deep{
  border-radius: 50%;
  background-color: var(--raspberry);
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  flex-shrink: 0;
}