@import '../variables.css';

.wrapper{
  margin: 1rem;
  padding: 1.4rem;
  box-shadow: var(--shadow1);
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: .4rem;
}

.wrapper button::first-of-type{
  margin-left: auto;
}

.selected{
  background-color: var(--sharp-blue);
}

.selected button{
  background-color: var(--lime-green);
  color: var(--white);
}

.selected  input:focus ~ label,
.selected :global(input.not-empty) ~ label {
  color: var(--white) !important;
}

.selected input ~ div:before,
.selected input ~ div:after {
  background: var(--white) !important;
}