@import '../variables.css';

.wrapper{
  margin: 1rem;
  padding: 1.4rem;
  box-shadow: var(--shadow1);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.wrapper button::first-of-type{
  margin-left: auto;
}