

@import '../variables.css';

/*
 * Base styles
 * ========================================================================== */

html {
  font-weight: 100;
  font-size: 10px;
  font-family: var(--font-family-base);
}