

@import '../variables.css';

/*
 * Base styles
 * ========================================================================== */

html {
  font-weight: 100;
  font-size: 10px;
  font-family: var(--font-family-base);
  color: var(--graphite);
}

body{
  padding: 0;
  margin: 0;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}

button {
  position: relative;
  border-radius: 2px;
  background-color: var(--white);
  color: var(--graphite);
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow .2s ease;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 0;
}

button:hover, .module button:focus {
  box-shadow: var(--shadow1);
}

button:active {
  box-shadow: var(--shadow3);
}

a,a:hover, a:active, a:visited, a:focus{
  text-decoration: none;
  color: var(--graphite);
  font-weight: 400;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}