@import '../variables.css';

.wrapper{
  flex:1;
}

.add-item{
    white-space: nowrap;
    text-overflow: ellipsis;  
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 3rem 1.4rem 1.4rem;
    font-size: .6rem;
    box-shadow: var(--shadow2);
}

.add-item button{
  padding: 1rem;
}

.tree{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: var(--shadow2);
  margin-top:1rem;
  display:flex;
  flex-flow: column;
}

.empty{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
