@import '../variables.css';

.wrapper{
    background: var(--white);
    padding: 2.4rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    box-shadow: var(--shadow0); 
    text-transform: uppercase;
}

.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4{
    margin: 0;
}