@import '../variables.css';

.wrapper{
  flex:1;
}

.wrapper form{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: var(--shadow2);
  margin-top:1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.wrapper button{
  padding: 1rem;
}

.wrapper input[type=checkbox]{
  margin-right: 1rem;
}

.wrapper input[type=checkbox] ~ label{
  text-transform: uppercase;
  font-size: 400;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form-actions button{
  margin: 1rem 0 1rem 1rem;
}

.form-control {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: relative;
  max-width: 40rem;
  margin-top: 1.7rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.form-control input,
.form-control textarea{
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  min-height: 4rem;
  border: 0;
  color: var(--graphite);
  font-size: 2.4rem;
  font-weight: 400;
}

.form-control textarea {
  resize: none;
  height: 10rem;
}

.form-control > input:focus ~ label,
.form-control > input.ng-valid ~ label,
.form-control > input.not-empty ~ label,
.form-control > textarea:focus ~ label,
.form-control > textarea.ng-valid ~ label {
  color: var(--sharp-blue);
  transform: translate(-12%, -50%) scale(0.75);
}

.form-control > input:focus ~ .bar:before,
.form-control > input:focus ~ .bar:after,
.form-control > textarea:focus ~ .bar:before,
.form-control > textarea:focus ~ .bar:after {
  width: 50%;
}

.form-control > label:first-letter {
  text-transform: capitalize;
}

.form-control > label {
  font-weight: 700;
}

.form-control > label {
  position: absolute;
  top: -1rem;
  left: 0;
  color: var(--graphite);
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 6rem;
  transition: all 0.2s ease;
}

.form-control .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--graphite);
  width: 100%;
  height: 1px;
}

.form-control .bar:before,
.form-control .bar:after {
  content: '';
  position: absolute;
  background: var(--sharp-blue);
  width: 0;
  height: 2px;
  transition: .2s ease;
}

.form-control .bar:before {
  left: 50%;
}

.form-control .bar:after {
  right: 50%;
}