@import '../variables.css';

.wrapper{
    margin-right: 1rem;  
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    position: relative; 
}

.wrapper label{
    color: var(--graphite);
    font-weight: 400;
    font-size: 1.4rem
}

/*.wrapper label:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;  
}*/

.wrapper input{

}