@import '../variables.css';

.progress{
    width: 100%;
    height: .3rem;
    overflow: hidden;
    display: flex;
}

.progress div{
    height: 100%;
}

.done{
    background-color: var(--sharp-blue);
}

.pending{
    background-color: var(--light-gray);
}