@import '../variables.css';

.wrapper{
  flex:1;
}

.add-item{
    white-space: nowrap;
    text-overflow: ellipsis;  
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 1.4rem;
    box-shadow: var(--shadow2);
}

.add-item button{
  padding: 1rem;
}

.list{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: var(--shadow2);
  margin-top:1rem
}
